<h1>Guests</h1>

<ul>
    <% @guests.each do |guest|%>
        <li>
            <%= link_to(guest.full_name, guest_path(guest.id)) %>
        </li>
    <% end %>
</ul>

<%= link_to "Back to Home", home_path %>
