<h1>Welcome to Peter's Place</h1>

<ul>
  <li><%= link_to "Rooms", rooms_path %></li>
  <li><%= link_to "Guests", guests_path %></li>
  <li><%= link_to "Reservations", reservations_path %></li>
  <li><%= link_to "Services", services_path %></li>
</ul>
