<div class="container">
  <h1>Welcome to Peters Place</h1>
  <div class="list-buttons">
    <%= link_to "Rooms", rooms_path, class: "btn btn-primary mb-3" %>
    <%= link_to "Guests", guests_path, class: "btn btn-primary mb-3" %>
    <%= link_to "Reservations", reservations_path, class: "btn btn-primary mb-3" %>
    <%= link_to "Services", services_path, class: "btn btn-primary mb-3" %>
  <div>
</div>